/*==========RESET==========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*==========HEADER==========*/
.header01 {background-color: #dcdcdc; display: flex; justify-content: space-between; padding: 15px 163px 30px;}
.header01 img {width: 150px; height: 50px;}
.header02 {width: 1025px; margin: 0 auto; background-image: url(../imagens/bg-form.jpg); background-size: cover; 
display: flex; justify-content: flex-end;}
.header02-form form {width: 400px; margin-right: 30px; background-color: white; padding: 35px 15px 100px;}
.header02-form h2 {font-weight: normal; padding: 25px 15px; color: black; font-size: 18px; 
background-color: rgb(210,210,210); width: 400px; margin-right: 30px;}
.header02-form form label, .header02-form form p {font-size: 14px; color: #525252;}
.header02-form form p {margin-top: 20px;}
.header02-form form input {width: 370px; padding: 15px 0 15px 10px; border: 1px solid #ccc; margin-top: -20px;}
.header02-form form button {width: 370px; padding: 15px 0 15px 10px; border: 1px solid #ccc; margin-top: 40px;
text-transform: uppercase; cursor: pointer; font-size: 25px; color: white; background-color: #033C50;}
.header02-form form label {display: block; margin-top: 40px; margin-bottom: -3px;}
.header02-form form label:first-child {margin-top: 0;}
@media screen and (max-width: 600px){
    .header01 {padding: 15px 5px 30px;}
    .header02 {width: 100%; justify-content: center;}
    .header02-form {display: block; width: 310px; margin: 70px 0;}
    .header02-form h2 {font-size: 17px;}
    .header02-form h2, .header02-form form {width: 310px;}
    .header02-form form input, .header02-form form button {width: 280px;}
}
/*==========CONTENT==========*/
.seta {display: block; margin: 0 auto; margin-top: -31px;}
.content {width: 1025px; margin: 0 auto;}
.content01 {background-color: #29526d; margin-top: -31px; padding: 71px 0 55px;}
.content01 h2, .content01 p {text-align: center; color: white;}
.content01 h2 {font-weight: normal; font-size: 22px;}
.content01 p {margin-top: 15px; font-weight: normal; font-size: 18px;}
.content02, .content03, .content04, .content05 {display: flex;}
.content02 img, .content03 img, .content04 img, .content05 img {width: 615px;}
.content02 p, .content03 p {align-self: center; background-color: #4683ab; color: white; line-height: 1.4;
padding: 101px 40px;}
.content04 p, .content05 p {align-self: center; background-color: #4683ab; color: white; line-height: 1.4;
padding: 134px 40px;}
@media screen and (max-width: 600px){
    .content {width: 100%;}
    .content02, .content04 {flex-direction: column;}
    .content03, .content05 {flex-direction: column-reverse;}
    .content02 img, .content03 img, .content04 img, .content05 img {width: 100%;}
    .content02 p, .content03 p, .content04 p, .content05 p {text-align: justify;} 
}
/*==========FOOTER==========*/
.footer {width: 1025px; margin: 0 auto; background-color: #dcdcdc; padding: 5px 0 10px;}
.footer img {display: block; margin: 0 auto; transform: scale(.56);}
@media screen and (max-width: 600px){
    .footer {width: 100%;}
}


